$base-color: #3AAED3;
$base-color-rgb: rgb(60, 173, 211);
$secondary-color: #F3D65F;
$third-color: #F965A9;
$primary-text-color: #FFFF;
$secondary-text-color: #0000;

  * {
    background-color: $base-color-rgb;
  }